<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <img class="logo" src="https://w7.pngwing.com/pngs/98/991/png-transparent-computer-icons-bank-icon-design-screenshot-bank-blue-angle-logo.png" alt="Agent">

  <div class="container">
    <a class="navbar-brand" href="#" style="margin-left: -220px;"> <b>E-banking </b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <button style="margin-right:  -200px;" class="button" (click)="logout()"> <span> Sign out </span></button>
  </div>
</nav>
<br>
<br>









<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <br><br>              <br><br>

                <li class="sidebar-brand">
                  <img  class="imgClient" src="https://freesvg.org/img/cliente.png"/><br>
                    <h1>
                        E-banking Client 
                    </h1>
                </li>
                <br><br><br><br>
                <br>
                <li>
                    <a href="/page"> <b>Mes Comptes Banquaires</b></a>
                </li><br>
                <li>
                    <a href="/parametre"> <b>Paramétre</b></a>
                </li><br>
                <li>
                    <a href="/page1"> <b>Recharge téléphonique </b></a>
                </li><br>
                <li>
                    <a href="/virement"> <b>Virement bancaire </b></a>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <br>
                        <h1> <b> Mes Comptes  </b></h1>
                        <hr>
                        <br>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Numéro du Compte </th>
                              <th>Solde </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let cmt of comptes">
                              <td>{{cmt.id_compte}}</td>
                              <td>{{cmt.rib}}</td>
                              <td>{{cmt.solde}} $ </td>
                            </tr>
                            
                            
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->






