
    <div class="row content">

      <div class="col-sm-3 sidenav">
          <br>
        <h4>Application</h4>
        <br><br>
        <a href="/page"><button type="button" class="btn btn-info btn-lg">Mes Compte Banquaire</button></a><br><br>
        <a href="/parametre"><button type="button" class="btn btn-info btn-lg">Parametre</button></a><br><br>
        <a href="/page1"><button type="button" class="btn btn-info btn-lg">Recharge telephonique</button></a><br><br>
        <a href="/virement"><button type="button" class="btn btn-info btn-lg">Virement bancaire</button></a><br><br>
       <br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Blog..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>

      <br>

<div class="col-sm-9">
  <blockquote class="blockquote text-center">
    <p class="mb-0">les comptes bancaire</p>
  </blockquote>

  <table class="table table-bordered">
    <thead class="thead-dark">
        
      <tr>
        <th scope="col">#</th>
        <th scope="col">Num Compte</th>

        <th scope="col">Solde</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>11412342342543</td>

        <td>30 000.00 DH</td>

      </tr>
      
    </tbody>
  </table>
</div>
</div>