
  
  <div class="row content">

    <div class="col-sm-3 sidenav">
        <br>
      <h4>Application</h4>
      <br><br>
          <a href="/page"><button type="button" class="btn btn-info btn-lg">Mes Compte Banquaire</button></a><br><br>
          <a href="/parametre"><button type="button" class="btn btn-info btn-lg">Parametre</button></a><br><br>
          <a href="/page1"><button type="button" class="btn btn-info btn-lg">Recharge telephonique</button></a><br><br>
          <a href="/virement"><button type="button" class="btn btn-info btn-lg">Virement bancaire</button></a><br><br>
     <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
    <br>
  

<div class="col-sm-9">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Vos information personnel du site web</p>
      </blockquote>
    <br>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputPassword4">Nom</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Nom" >
              </div>
              <br>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Prenom</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Prenom" >
              </div>
              <br>
            </div>
              <div class="form-group">
                <label for="validationServer01">Email</label>
                <input type="email" id="validationServer01" class="form-control" placeholder="Email" >
              </div>
              <br>
            <div class="form-group">
              <label for="inputPassword4">Passeword</label>
              <input type="Passeword" class="form-control" id="inputPassword4" placeholder="Passeword" >
            </div>
            <br>
    
          <div class="form-group">
            <label for="inputPassword4">CNE</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="CNE" >
          </div>
          <br>
          <div class="form-group">
            <label for="inputPassword4">Numero de telephone</label>
            <input type="text" class="form-control" id="inputPassword4" value="212 " placeholder="num tel" >
          </div>
    
          <br>
           
    
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Verifier vos information
                </label>
              </div>
            </div><br>
            <button type="submit" class="btn btn-primary">Changer</button>
          </form>
</div>
</div>