<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <a class="navbar-brand" href="#">Bank Morocco</a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/page">Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home">Tableau de bord</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contacter nous</a>
    </li>
  </ul>
</nav>
 
 <div class="row content">

    <div class="col-sm-3 sidenav">
        <br>
      <h4>Application</h4>
      <br><br>
          <a href="/page"><button type="button" class="btn btn-info btn-lg">Mes Compte Banquaire</button></a><br><br>
          <a href="/parametre"><button type="button" class="btn btn-info btn-lg">Parametre</button></a><br><br>
          <a href="/page1"><button type="button" class="btn btn-info btn-lg">Recharge telephonique</button></a><br><br>
          <a href="/virement"><button type="button" class="btn btn-info btn-lg">Virement bancaire</button></a><br><br>
     <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
    <br>
  

  <div class="col-sm-9">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Vos information personnel du site web</p>
      </blockquote>
    <br>

    <div *ngIf="client">
      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputPassword4">Nom</label> : {{client.nom}}
          
        </div>
        <br>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Prenom</label> : {{client.prenom}}
        </div>

        <div class="form-group">
          <label for="inputPassword4">CIN</label> : {{client.cin}}
          
        </div>
        <br>
        <div class="form-group">
          <label for="inputPassword4">Numero de telephone</label> : {{client.tel}}
        </div>
    </div>

          <form (ngSubmit)="onSubmit()">
            <div class="form-row" >
             
              <br>
            </div>
              <div class="form-group">
                <label for="validationServer01">Email</label>
                <input type="email" name="email" id="validationServer01" class="form-control" required ngModel   placeholder="Email" >
              </div>
              <br>
            <div class="form-group">
              <label for="inputPassword4">Passeword</label>
              <input type="Passeword" name="mdp" class="form-control" id="inputPassword4" required ngModel   placeholder="Passeword" >
            </div>
    
          <br>
          
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Verifier vos information
                </label>
              </div>
            </div><br>
            <button type="submit" class="btn btn-primary">Modifier</button>
          </form>



</div>
</div>