<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <img src="https://w7.pngwing.com/pngs/98/991/png-transparent-computer-icons-bank-icon-design-screenshot-bank-blue-angle-logo.png" alt="Agent">

  <div class="container">
    <a class="navbar-brand" href="#" style="margin-left: -220px;"> <b> E-banking </b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <button style="margin-right:  -200px;" class="button" (click)="logout()"> <span> Sign out </span></button>
  </div>
</nav>
<br>
<br>

 






<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <br><br>              <br><br>

          <li class="sidebar-brand">
            <img  class="imgClient" src="https://freesvg.org/img/cliente.png"/><br>
              <h1>
                  E-banking Client 
              </h1>
          </li>
          <br><br><br><br>
          <br>
          <li>
              <a href="/page"> <b>Mes Comptes Banquaires</b></a>
          </li><br>
          <li>
              <a href="/parametre"> <b>Paramétre</b></a>
          </li><br>
          <li>
              <a href="/page1"> <b>Recharge téléphonique </b></a>
          </li><br>
          <li>
              <a href="/virement"> <b>Virement bancaire </b></a>
          </li>
          
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Simple Sidebar</h1>
                  <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                  <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->





















  

  <div class="col-sm-9">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Vos information personnel du site web</p>
      </blockquote>
    <br>

    <div *ngIf="client">
      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputPassword4">Nom</label> : {{client.nom}}
          
        </div>
        <br>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Prenom</label> : {{client.prenom}}
        </div>

        <div class="form-group">
          <label for="inputPassword4">CIN</label> : {{client.cin}}
          
        </div>
        <br>
        <div class="form-group">
          <label for="inputPassword4">Numero de telephone</label> : {{client.tel}}
        </div>
    </div>

          <form (ngSubmit)="onSubmit()">
            <div class="form-row" >
             
              <br>
            </div>
              <div class="form-group">
                <label for="validationServer01">Email</label>
                <input type="email" name="email" id="validationServer01" class="form-control" required ngModel   placeholder="Email" >
              </div>
              <br>
            <div class="form-group">
              <label for="inputPassword4">Passeword</label>
              <input type="Passeword" name="mdp" class="form-control" id="inputPassword4" required ngModel   placeholder="Passeword" >
            </div>
    
          <br>
          
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Verifier vos information
                </label>
              </div>
            </div><br>
            <button type="submit" class="btn btn-primary">Modifier</button>
          </form>



</div>
</div>