

<div class="row content">

  <div class="col-sm-3 sidenav">
      <br>
    <h4>Application</h4>
    <br><br>
    <a href="/page"><button type="button" class="btn btn-info btn-lg">Mes Compte Banquaire</button></a><br><br>
    <a href="/parametre"><button type="button" class="btn btn-info btn-lg">Parametre</button></a><br><br>
    <a href="/page1"><button type="button" class="btn btn-info btn-lg">Recharge telephonique</button></a><br><br>
    <a href="/virement"><button type="button" class="btn btn-info btn-lg">Virement bancaire</button></a><br><br>
   <br>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Blog..">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>


  <br>
<div class="col-sm-9">
  <blockquote class="blockquote text-center">
    <p class="mb-0">Effectuer une recharge telephonique</p>
  </blockquote><br>

      <form>
        <div class="form-row">
          <div class="form-group">
            <label for="validationServer01">Email</label>
            <input type="email" id="validationServer01" class="form-control" placeholder="Email" >
            <br>
          </div>
          <div class="form-group">
            <label for="inputPassword4">Motif</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Motif" >
          </div>
        </div><br>
       
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCity">Numero de telephone</label>
            <input type="text" value="212 " class="form-control" id="inputtel">
          </div><br>
          <div class="form-group col-md-4">
            <label for="inputState">operateur</label>
            <select id="inputState" class="form-control">
              <option selected>Orange</option>
              <option>Inwi</option>
              <option>Maroc telecom</option>
            </select>
          </div><br>
          <div class="form-group col-md-4">
            <label for="inputState">montant</label>
            <select id="inputState" class="form-control">
              <option selected>5 Dh</option>
              <option>10 Dh</option>
              <option>20 Dh</option>
              <option>50 Dh</option>
              <option>100 Dh</option>
              <option>200 Dh</option>
              <option>500 Dh</option>
            </select>
          </div>
        </div><br>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Verifier vos information
            </label>
          </div>
        </div><br>
        <button type="submit" class="btn btn-primary">Recharge</button>
      </form>
</div>
</div>