<div class="about-section">
    <h1>Hello Mr.</h1>
    <p>Bienvenue dans votre espace privee</p>
  </div>
  
  <h2 style="text-align:center">Bank Morocco</h2>

  

  
  <div class="row">

    <div class="column">
      <div class="card">
        <img src="assets/images/compte.png" alt="" style="width:100%">
        <div class="container">
          <h2>Mes Compte Banquaire</h2>
          <p class="title">mes comptes</p>
          <p>Pour acceder a tous vos compte diponible et votre </p>
          <p>solde dans notre banque</p>
          <p><a href="/page"><button class="button" > compte</button></a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/images/parametre.png" alt="" style="width:100%">
        <div class="container">
          <h2>Parametre</h2>
          <p class="title">parametre du site</p>
          <p>Acceder au parametre de se site web</p>
          <p>...</p>
          <p><a href="/parametre"><button class="button">Parametre Site</button></a></p>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <img src="assets/images/tel.png" alt="" style="width:100%">
        <div class="container">
          <h2>Effectuez une recharge  </h2>
          <p class="title">Pour effectuez un recharge telephonique</p>
          <p>.</p>
          <p>.</p>
          <p><a href="/page1"><button class="button">Recharge</button></a></p>
        </div>
      </div>
    </div>

    </div>

    <div class="row">

        <div class="column">
          <div class="card">
            <img src="assets/images/v.png" alt="" style="width:100%">
            <div class="container">
              <h2>Effectuez un virement</h2>
              <p class="title">Pour effectuez un virement banquaire</p>
              <p>a un autre compte</p>
              <p>.</p>
              <p>.</p>
              <p><a href="/virement"><button class="button">Virement</button></a></p>
            </div>
          </div>
        </div>

    </div>
